.Ribbon {
  padding-bottom: 4px;
}

.Ribbon:before {
  background-image: -webkit-linear-gradient(left,#73D2F6,#08C 22%,#7FC400 36%,#FFD583 48%,#FFB21E 63%,#FF4D4D 76%,#503873);
  background-image: linear-gradient(to right,#73D2F6,#08C 22%,#7FC400 36%,#FFD583 48%,#FFB21E 63%,#FF4D4D 76%,#503873);
  content: '';
  display: block;
  height: 4px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  position: fixed;
  -webkit-flex-shrink: 0;
  width: 100%;
  z-index: 4;
}
